<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link type="text/css" href="/stylesheets/base.css" rel="stylesheet" />
  <script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/picachoose/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="/javascripts/picachoose/jquery.pikachoose.min.js"></script>
  <script type="text/javascript" src="/javascripts/picachoose/jquery.touchwipe.min.js"></script>
  <script language="javascript">
      $(document).ready(
              function (){
                  $("#pikame").PikaChoose();
              });
  </script>


</head>
<body>
<!-- not really needed, i'm using it to center the gallery. -->
<br/>
<br/>
<div class="pikachoose">
  <ul id="pikame" >
    <li><a href="javascript:"><img src="/images/dps/dps.JPG"/></a><span>DPS</span></li>
    <li><a href="javascript:"><img src="/images/dps/dps1.jpg"/></a><span>DPS</span></li>
    <li><a href="javascript:"><img src="/images/dps/dps2.jpg"/></a><span>DPS</a> for updates.</span></li>
  </ul>
  DPS - Enter to lean ... Leave to serve
</div>

</body>
</html>