
  <ul id="pikame" >
    <li><a href="javascript:"><img src="/images/lgs/lgs1.jpg"/></a><span>LGS</span></li>
    <li><a href="javascript:"><img src="/images/lgs/lgs2.jpg"/></a><span>LGS</span></li>
    <li><a href="javascript:"><img src="/images/lgs/lgs3.jpeg"/></a><span>LGS</span></li>
  </ul>
  LGS - Enter to lean ... Leave to serve
