Lahore Grammar School has a mission. We aspire to nurture, enable and send into the world young women who believe in integrity, rationality, endeavour, tolerance, empathy, and above all, respect for themselves and others. We do this by providing a schooling that encourages intellectual curiosity, creativity, critical thinking, rigour, self-expression, individuality, independence and responsibility. In short, we seek to educate.

Welcome to 55 Main Gulberg. We invite you to become a part of the LGS family
<div>
<%= image_tag "/images/lgs/lgs.jpg" , :class => "dps-image" %>
    </div>
<style>
    .dps-image{
    float: left;
    margin: 10px;
    width: 100%;
    }
</style>