It was the spring of 1962 which witnessed the birth of an institution which was later to develop into an educational giant.  The infant institution was initially started in a few rented rooms of the Gaddafi Stadium then known as the National Stadium, Lahore.  Later on, the institution was shifted to Model Town, Lahore, when the co-operative Model Town Society Limited, in extending its gracious cooperation, gifted about 186 kanals of land for the construction of the school buildings....
<div>
<%= image_tag "/images/dps/intro.jpg" , :class => "dps-image" %>
    </div>
<style>
    .dps-image{
    float: left;
    margin: 10px;
    width: 100%;
    }
</style>