<div id="page-yield">
  <%= image_tag("/images/camp/camp.jpeg") %>
  <%= image_tag("/images/camp/camp1.jpeg") %>
  <%= image_tag("/images/camp/camp3.jpeg") %>
  <br/>
  <b>Camp.com</b> is a site providing CMS for the schools. Using Fedena on its backend, <b>Camp.com</b> is a simple solution for
  all school management solutions.
</div>